.section-child-rest
  background: url('../img/bg_header.jpg') top 0 left 0 no-repeat 
  max-height: 685px
.description
  padding-top: 110px
  padding-bottom: 90px  
.title, .subtitle
  margin: 0
  color: $primary
  +rbb
.title
  font-size: 57px  
.subtitle
  font-size: 30px  
  line-height: 1.33
  &__size
    margin-bottom: 80px
    margin-top: 40px
.shield, .voucher, .professional
  display: flex
  align-items: start 
  &__text
    max-width: 450px      
  &__title, &__subtitle
    color: $primary
  &__title
    font-size: 18px
    line-height: 1.22
    +circe_b    
  &__subtitle
    margin: 0
    font-size: 14px
    +circe_light
    &-size
      margin-top: 11px
.shield__size, .voucher__size
  margin-bottom: 30px
.image__size
  margin-right: 30px



.section-form
  background: url("../img/bg_sec_form.png") 0 0 no-repeat
.form
  display: flex
  flex-direction: column
  align-items: center
  padding-top: 100px
  padding-bottom: 92px  
  &__text
    margin-top: 29px
    margin-bottom: 60px
    font-size: 22px
    color: $primary
    +circe_b
  &__subtext
    margin-top: 60px
    margin-bottom: 40px
    font-size: 16px
    color: $primary
    +circe_light
  &-call
    display: flex
    align-items: center
    &__text
      font-size: 16px
      +circe_light
      color: $primary
    &__size
      margin-top: 40px
    &__text-size
      margin-right: 32px 
    &__image-size
      margin-right: 15px

.form-search
  &__name, &__phone
    margin-right: 30px
    padding-left: 61px
    background-repeat: no-repeat
    background-position: top 19px left 30px
  &__name
    background-image: url(../img/avatar-1.png)   
  &__phone
    background-image: url(../img/telephone-1.png)



.section-catalog
  background-color: #f3f3f3ef
.catalog
  padding-top: 100px
  padding-bottom: 100px
  &__title, &__subtitle
    text-align: center
  &-tabs
    display: flex
    justify-content: space-between
    align-items: center    
    &__item
      font-size: 18px
      color: $primary
      +circe_b
      width: 370px
      padding-top: 19px
      padding-bottom: 19px
      background-color: #d8f0f0
      border-radius: none
      border-top-left-radius: 15px
      border-top-right-radius: 15px
      text-align: center
      &:hover
        cursor: pointer
  &-content
    display: flex
    justify-content: space-between
    align-items: center    
    &__item
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      background-color: #fff
      border: 2px solid #d8f0f0
      padding: 15px
      padding-bottom: 31px
      &:hover
        border: 2px solid $colorButton
        cursor: pointer
    &__foto
      position: relative
    &__name
      color: $primary
      font-size: 18px
      +circe_b
      margin-top: 30px
      margin-bottom: 15px
    &__terrain
      color: $primary
      font-size: 14px
      margin-bottom: 30px
      +circe_light
    &__info  
         
      text-decoration: none
      color: $primary
      font-size: 18px
      border-bottom: 6px solid $colorButton
      +circe_b
      &:hover
        border-bottom: 6px solid $colorButton
        background-color: $colorButton
  &-info
    position: absolute
    display: flex
    justify-content: space-between
    align-items: center
    bottom: 8px
    left: 10px
    right: 14px
    &__size
      margin-right: 30px
    &__map, &__age
      display: flex
      align-items: center
    &__text
      color: #ffffff
      font-size: 13px
      display: block
      +circe_reg
  &-line
    border: 5px solid $colorButton
.context
  position: absolute
  width: 340px
  height: 75px
  background: linear-gradient(to top, #001e28, transparent)  
  bottom: 0
  left: 0
.foto__size
  margin-right: 9px
.content__size
  margin-top: 40px
.active__item
  background-color: $colorButton
  color: #fff


.section-armor
  background-image: linear-gradient(to bottom, #d8f0f0, #fdfde0)
.armor
  padding-top: 100px
  padding-bottom: 100px  
  &-content
    &__title
      text-align: center
    &__text
      width: 730px
      line-height: 1.86
      text-align: center
      margin: auto
  &__size
    margin-top: 29px
    // margin-bottom: 78px    
  &__text-form
    margin: 0
    margin-top: 70px
    font-size: 22px
    +circe_b
  &__subtext-form
    font-size: 16px
    +circe_light
    margin-top: 30px
    margin-bottom: 40px
  &-images
    position: relative    
    display: flex
    justify-content: space-between
    &__item
      margin-right: 30px    
    &__size
      margin-bottom: 70px
      margin-top: 70px
    &__back    
      &-left
        position: absolute
        top: 80px
        left: 21px
        padding: 11px 15px
        background-color: rgba(255,255,255,0.6)
        &:hover
          cursor: pointer
      &-right
        position: absolute
        top: 80px
        right: 21px
        padding: 11px 15px
        background-color: rgba(255,255,255,0.6)
        &:hover
          cursor: pointer
  &-properties
    display: flex
    justify-content: space-between    
    &__size
      margin-bottom: 70px
    &__image-size
      margin-right: 30px
    &__item
      display: flex
      align-items: center
    &__text
      width: 212px  
  &__cost
    background-color: $colorButton
    padding: 4px
  &-form        
    border: 10px solid #d8f0f0    
    background-image: url(../img/bgc_girl.png)
    background-repeat: no-repeat
    background-position: 0 0
    display: flex
    flex-direction: column
    align-items: center
    


.section-citizenship
  background-color: #ffffff
.citizenship
  padding-top: 100px
  padding-bottom: 100px
  &-content
    display: flex
    justify-content: center
    align-items: start
  &-images   
    position: relative
    z-index: 3
    &__background
      position: absolute
      background-image: url(../img/10.png)
      left: 120px
      top: -16px
      z-index: 0
      border: solid 15px #d8f0f0
  &__image
    margin-right: 33px
  &-text
    &__title
      color: $primary
      width: 494px
      margin-bottom: 70px
    &__text
      width: 435px
      margin-top: 0
      margin-bottom: 68px
      font-size: 20px
      color: $primary
      +circe_reg
    &__subtext
      width: 360px
      margin-top: 0
      margin-bottom: 26px
      font-size: 22px
      color: $primary
      +circe_b
    &__subtitle
      margin: 0
      margin-bottom: 70px
      font-size: 20px
      color: $primary
      +circe_reg
      width: 500px
  &-form
    display: flex
    flex-direction: column
    align-items: center
    border: solid 10px #d8f0f0
    background-image: url(../img/bgc_tube.png)
    background-repeat: no-repeat
    background-position: bottom 0 right 0
    &__size
      margin-bottom: 70px
  &__subtext-form
    text-align: center
    line-height: 1.69




