.section-child-rest
  background: url('../img/bg_header.jpg') top 0 left 0 no-repeat 
  max-height: 685px
.description
  padding-top: 110px
  padding-bottom: 90px  
.title, .subtitle
  margin: 0
  color: $primary
  +rbb
.title
  font-size: 57px  
.subtitle
  font-size: 30px  
  line-height: 1.33
  &__size
    margin-bottom: 80px
    margin-top: 40px
.shield, .voucher, .professional
  display: flex
  align-items: start 
      
  &__title, &__subtitle
    color: $primary
  &__title
    font-size: 18px
    line-height: 1.22
    +circe_b    
  &__subtitle
    margin: 0
    font-size: 14px
    +circe_light
    &-size
      margin-top: 11px
.shield__size, .voucher__size
  margin-bottom: 30px

.image__size
  margin-right: 30px
