.button
  padding: 16px 29px
  border: none
  outline: none
  border-radius: 22.5px
  background-color: $colorButton
  cursor: pointer
  text-transform: uppercase
  color: #ffffff
  font-size: 11px  
  +circe_b
.input
  width: 270px
  height: 55px
  border: none  
  border-radius: 27.5px
  border: solid 1px #d1d1d1
  background-color: #ffffff
  color: $colorInput
.button__consult
  width: 270px
  height: 55px

  border-radius: 27.5px
  background-color: $colorButton
  // padding: 21px 43px 21px 55px
  color: #fff
  +circe_b
  text-transform: uppercase
  font-size: 12px