// @media (max-width: 1200px)
@media screen and ( max-width: 1200px )
  .container
    max-width: 1140px
  .section-child-rest
    background: url('../img/bg_header.jpg') top 0 left -250px no-repeat 
  .description
    padding-left: 35px
@media screen and (max-width: 992px) 
  .container
    max-width: 960px
  .description
    padding-left: 70px
    padding-top: 40px
    padding-bottom: 40px
@media screen and (max-width: 768px) 
  .container
    max-width: 720px
  .section-child-rest
    background: url('../img/bg_header.jpg') top 0 left 250px no-repeat
  .navbar__size
    margin-right: 10px
  .button__size
    margin-left: 10px
    margin-right: 10px
  .description    
    padding-left: 25px
    padding-right: 25px 
  .subtitle__size
    margin-top: 20px
    margin-bottom: 50px
@media screen and (max-width: 576px)
  .container
    max-width: 100%
  .navbar__contact
    display: none
    margin-left: 0
  .button
    padding: 10px 15px
    margin-right: 10px
  .subtitle
    font-size: 20px
  .subtitle__size
    margin-top: 20px
    margin-bottom: 50px
  .navbar__size
    margin-right: 0
  .button__size
    margin-left: 0px
    margin-right: 5px
@media screen and (max-width: 320px)
  .navbar__title
    display: none
  .shield, .voucher, .professional
    flex-direction: column
    align-items: center
    text-align: center