@media screen and ( max-width: 1920px )
  .section-form
    background: url("../img/bg_sec_form.png") top 0 left -1000px no-repeat
  
@media screen and ( max-width: 1200px )
  .container
    max-width: 1140px
  .section-child-rest
    background: url('../img/bg_header.jpg') top 0 left -250px no-repeat
  .section-foto
    flex-wrap: wrap
    justify-content: center
    align-items: start  
  .button__consult-size
    margin-top: 0px
  .catalog
    &-tabs
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: center      
      &__item
        width: 90%
    &-content, &-line
      display: none
    

  .armor-images_visible1
    display: none
  .armor-images
    position: relative
    display: flex
    justify-content: center
    &__back    
      &-left
        position: absolute
        top: 80px
        left: 142px        
      &-right
        position: absolute
        top: 80px
        right: 142px
  .armor
    &-properties
      justify-content: center
    &-form
      margin-left: 20px
      margin-right: 20px
      background-image: url(../img/bgc_girl.png)
      background-repeat: no-repeat
      background-position: top -500px left -1000px
       
  .armor-content__text  
    width: 90%
  
  .comfort
    &-row
      flex-direction: column
      align-items: center
      &__size
        margin-bottom: 50px
        &:last-child
          margin-bottom: 0
    &-text__size
      margin-right: 0

    &-item
      &__size
        margin-bottom: 40px
  .work
    &-reward
      &__item
        &-size
          margin-right: 40px
  .footer-address
    flex-direction: column
    align-items: center
  

  

@media screen and (max-width: 992px) 
  .container
    max-width: 960px
  .description
    padding-left: 70px
    padding-top: 40px
    padding-bottom: 40px
  .form__line
    display: none
  .form
    padding-top: 40px
    &__text
      margin-top: 29px
      margin-bottom: 0px
      text-align: center
    &__subtext
      margin-top: 15px
      margin-bottom: 25px
  .form-search
    display: flex
    flex-wrap: wrap
    justify-content: center
  .form-search__name
    margin-bottom: 30px
  .catalog__subtitle-size
    margin-bottom: 15px
  .armor-images_visible2
    display: none
  .armor
    &-form
      margin-left: 20px
      margin-right: 20px
      background-image: url(../img/bgc_girl.png)
      background-repeat: no-repeat
      background-position: top 200% left -1500px      
    &-properties
      flex-direction: column
      justify-content: space-between
      align-items: center
  .armor-properties__item-size
    margin-bottom: 50px
    &:last-child
      margin-bottom: 0
  .citizenship
    &-content
      flex-direction: column
      align-items: center     
    &-text
      display: flex
      flex-direction: column
      align-items: center      
  .leader
    &-subtitle__size, &-command__size
      margin-bottom: 30px
  .license
    &-row
      flex-wrap: wrap      
      justify-content: center
      &__item
        &-size
          margin-right: 20px
          margin-bottom: 30px
  .work
    &-reward
      &__image-left
        left: 15px
      &__image-right
        right: 15px
      &__item
        &:nth-child(even)
          display: none
  .footer-address
    flex-direction: column
    align-items: center
  .address
    
   
@media screen and (max-width: 768px) 
  .container
    max-width: 720px
  .section-child-rest
    background: url('../img/bg_header.jpg') top 0 left 250px no-repeat
  .navbar__size
    margin-right: 10px
  .button__size
    margin-left: 10px
    margin-right: 10px
  .description  
    padding-left: 25px
    padding-right: 25px 
  .subtitle__size
    margin-top: 20px
    margin-bottom: 50px
  .form__title
    text-align: center
  .form-search
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: center
  .form-call
    &__tel
      text-align: center
    &__size
      margin-top: 20px
  .form-search
    &__name, &__phone
      margin-right: 0
    &__phone
      margin-bottom: 15px
    &__name
      margin-bottom: 15px
  .form        
    padding-bottom: 40px
  .catalog
    padding-top: 30px
    padding-bottom: 30px
  .armor-images_visible3
    display: none
  .armor-images__back-left
    display: none
  .citizenship
    &-content
      flex-direction: column
      align-items: center
      
    &-text
      display: flex
      flex-direction: column
      align-items: center        
      &__title
        width: 90%        
        margin-top: 40px
        text-align: center
      &__text
        width: 90%
        margin-top: 0
        margin-bottom: 26px              
      &__subtext
        width: 90%    
        text-align: center    
      &__subtitle
        width: 90%
        margin-bottom: 70px
    &-form
      padding-left: 20px
      padding-right: 20px
      background-image: url(../img/bgc_girl.png)
      background-repeat: no-repeat
      background-position: top 200% left -1500px

  .leader
    &-content
      flex-direction: column
      align-items: center
    &__image
      margin-right: 0
      margin-bottom: 30px
    &-command
      flex-direction: column
      &__item-size
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0
  .learn
    &-level
      flex-direction: column
      align-items: center
    &-arrow
      display: none
    &__number     
      margin-bottom: 35px

  .work
    &-reward
      &__image-left
        left: 15px
      &__image-right
        right: 15px
      &__item
        &-size
          margin-right: 0px
        &:last-child
          display: none
    
  .address
    display: flex
    flex-direction: column    
    align-items: center
    text-align: center
    padding-left: 0
    &__city
      margin-top: 0
    
@media screen and (max-width: 576px)
  .container
    max-width: 100%
  .navbar__contact
    display: none
    margin-left: 0
  .button
    padding: 10px 15px
    margin-right: 10px
  .subtitle
    font-size: 20px
  .subtitle__size
    margin-top: 20px
    margin-bottom: 50px
  .navbar__size
    margin-right: 0
  .button__size
    margin-left: 0px
    margin-right: 5px
  .form    
    padding-top: 100px
    padding-left: 10px
    padding-right: 10px
  .form__title
    font-size: 30px
  .form__subtext
    text-align: center
  .form-call
    flex-direction: column
    align-items: center
    justify-content: center
    &__size
      margin-top: 20px
    &__text-size
      margin-right: 20px 
    &__image-size
      margin-right: 0  
  .catalog
    padding-top: 30px
    padding-bottom: 30px
  .armor-form__call-size
    margin-bottom: 15px
  
  .comfort
    padding-left: 15px
    padding-right: 15px
    &-item
      flex-direction: column
      align-items: center
      text-align: center
      &__image-size
        margin-bottom: 15px
        margin-right: 0
  .step
    &-row
      flex-direction: column
      align-items: center
      margin-bottom: 0
      &__item 
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0
    &-arrow
      display: none
  .license
    &-row
      flex-direction: column
      align-items: center
      &__item
        &-size
          margin-right: 0px
          margin-bottom: 30px
  .work
    &-reward
      &__image-left
        left: 5px
      &__image-right
        right: 5px   
  .address
    &__title
      width: 95%  
@media screen and (max-width: 320px)
  .navbar__title
    display: none
  .shield, .voucher, .professional
    flex-direction: column
    align-items: center
    text-align: center